Package: uk.qmole.xrandr
Name: XORG xrandr
Version: 1.2.3
Architecture: iphoneos-arm
Description: XORG xrandr for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libx11, uk.qmole.xserver, uk.qmole.libxi
Sponsor: QMole Ltd. 
Section: X_Window
