Package: uk.qmole.renderproto
Name: X11 renderproto
Version: 0.11.1
Architecture: iphoneos-arm
Description: X11 renderproto for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
