Package: uk.qmole.gnomepaint
Name: Gnome Paint
Version: 0.3
Architecture: iphoneos-arm
Description: Gnome paint program for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Applications
