Package: uk.qmole.netsurf
Name: Netsurf
Version: 3.3
Architecture: iphoneos-arm
Description: Netsurf web browser for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libcroco, uk.qmole.curl, uk.qmole.herbstluft
Sponsor: QMole Ltd. 
Section: Applications
