Package: uk.qmole.x11r6
Name: X11R6 Compatibility 
Version: 1.1.0
Architecture: iphoneos-arm
Description: X11R6 compatibility for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.x11fonts
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
