Package: uk.qmole.zsh
Name: ZSH
Version: 5.0.0
Architecture: iphoneos-arm
Description: Z-Shell for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Applications
