Package: uk.qmole.xournal
Name: Xournal Notetaking
Version: 0.4.5
Architecture: iphoneos-arm
Description: Xournal notetaking sketching and PDF editor for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Applications
