Package: uk.qmole.escher
Name: escher
Version: 1.9.90
Architecture: iphoneos-arm
Description: Java X11 Library 
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/escher
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: jamvm
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
