Package: uk.qmole.xhost
Name: XORG xhost
Version: 1.0.2
Architecture: iphoneos-arm
Description: XORG xhost for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libx11, uk.qmole.xserver, uk.qmole.libxi, uk.qmole.libxmu
Sponsor: QMole Ltd. 
Section: X_Window
