Package: uk.qmole.feh
Name: XORG feh
Version: 1.3.4
Architecture: iphoneos-arm
Description: XORG feh for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: jpeg
Sponsor: QMole Ltd. 
Section: X_Window
