Package: uk.qmole.enchant
Name: XORG enchant
Version: 1.6.0
Architecture: iphoneos-arm
Description: XORG enchant for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
