Package: uk.qmole.stunnel
Name: Stunnel
Version: 5.24
Architecture: iphoneos-arm
Description: stunnel for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.herbstluft
Sponsor: QMole Ltd. 
Section: Applications
