Package: uk.qmole.clawsmail
Name: Claws Mail
Version: 3.9.0
Architecture: iphoneos-arm
Description: Claws Mail from claws-mail.org for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Applications
