Package: uk.qmole.geany
Name: Geany
Version: 0.21
Architecture: iphoneos-arm
Description: Geany IDE for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.herbstluft
Sponsor: QMole Ltd. 
Section: Applications
