Package: uk.qmole.librsvg
Name: XORG librsvg
Version: 2.32.1
Architecture: iphoneos-arm
Description: XORG librsvg for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
