Package: uk.qmole.libxpm
Name: X11 libxpm
Version: 3.5.9
Architecture: iphoneos-arm
Description: X11 libxpm for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
