Package: uk.qmole.boehmgc
Name: Boehm GC
Version: 7.2
Architecture: iphoneos-arm
Description: Boehm Garbage Collector port to iOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/boehmgc
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
