Package: uk.qmole.libxaw
Name: X11 libxaw
Version: 1.0.9
Architecture: iphoneos-arm
Description: X11 libxaw for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libxpm
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
