Package: uk.qmole.tree
Name: tree
Version: 1.5.3
Architecture: iphoneos-arm
Description: Recursive directory lister
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/tree
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author: Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
