Package: uk.qmole.hping2
Name: hping
Version: 2.0.0
Architecture: iphoneos-arm
Description: Active Network Security Tool
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: firmware (>= 7.0), uk.qmole.libpcap, uk.qmole.qmole, uk.qmole.herbstluft
Sponsor: QMole Ltd. 
Section: Security
