Package: uk.qmole.gdkpixbuf
Name: GdkPixbuf Image Library
Version: 2.24.0
Architecture: iphoneos-arm
Description: GdkPixbuf image library for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Window_Toolkits
