Package: uk.qmole.libxext
Name: XORG libXext
Version: 1.0.4
Architecture: iphoneos-arm
Description: XORG libXext runtime library for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libx11
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
