Package: uk.qmole.libwindowswm
Name: XORG libWindowsWM
Version: 1.0.0
Architecture: iphoneos-arm
Description: XORG libWindowsWM for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libx11, uk.qmole.libxext
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
