Package: uk.qmole.cmake
Name: cmake
Version: 2.8.10.2
Architecture: iphoneos-arm
Description: CMake port to iOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/cmake
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
