Package: uk.qmole.fox
Name: FOX Widget Toolkit
Version: 1.6.49
Architecture: iphoneos-arm
Description: FOX widget toolkit for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Window_Toolkits
