Package: uk.qmole.libxi
Name: XORG libXi
Version: 1.1.3
Architecture: iphoneos-arm
Description: XORG libXi runtime library for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libx11, uk.qmole.libxext
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
