Package: uk.qmole.netcat
Name: netcat
Version: 1.10
Architecture: iphoneos-arm
Description: TCPIP Swiss Army Knife
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libpcap, uk.qmole.qmole, uk.qmole.herbstluft
Sponsor: QMole Ltd. 
Section: Security
