Package: uk.qmole.galculator
Name: Galculator 
Version: 2.1
Architecture: iphoneos-arm
Description: Galculator a GTK calculator for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Applications

