Package: uk.qmole.giflib
Name: X11 giflib
Version: 4.1.6
Architecture: iphoneos-arm
Description: X11 giflib for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
