Package: uk.qmole.cgdb
Name: CGDB
Version: 0.6.6
Architecture: iphoneos-arm
Description: Curses GNU Debugger for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: gdb, ncurses
Sponsor: QMole Ltd. 
Section: Applications
