Package: uk.qmole.jasmin
Name: Jasmin Java Assembler
Version: 2.4
Architecture: iphoneos-arm
Description: Jasmin is an assembler for the Java Virtual Machine
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/jasmin
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
