Package: uk.qmole.libxau
Name: XORG libXau
Version: 1.0.4
Architecture: iphoneos-arm
Description: XORG authentication library for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
