Package: uk.qmole.mkfontscale
Name: X11 mkfontscale
Version: 1.0.9
Architecture: iphoneos-arm
Description: X11 mkfontscale for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Depends: uk.qmole.libfontenc, uk.qmole.freetype
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
