Package: uk.qmole.libdaq
Name: libdaq
Version: 2.0
Architecture: iphoneos-arm
Description: Libdaq for Snort
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/zmq
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: Development
Tag: purpose::console, role::developer
