Package: uk.qmole.libfontenc
Name: X11 libfontenc
Version: 1.1.0
Architecture: iphoneos-arm
Description: X11 libfontenc for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/x11
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
