Package: uk.qmole.libxdmcp
Name: XORG libXdmcp
Version: 1.0.2
Architecture: iphoneos-arm
Description: XORG X Display Manager Control Protoco for IOS
Homepage: http://www.qmole.uk 
Depiction: http://www.qmole.uk/xorg
Maintainer: Chris Kohlhepp <chrisk@manx.net>
Author:  Chris Kohlhepp <chrisk@manx.net>
Sponsor: QMole Ltd. 
Section: X_Window
Tag: purpose::library, role::developer
